<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analise de Dados Covid</title>

    
</head><br>

<body class="bg-secondary bg-gradient text-white container">
    <h1 class="mt-5">
        Dados para análise COVID
    </h1>

    <p href="#fim" id="topo">DataSet COVID</p>

    
    <a class="text-white" href="\">Voltar para a Home</a><br>

    
    <br>

    <img class="my-5"  src="../static/images/brasil/mapa.gif" usemap="#mapaBrasil" alt="Gráfico">
    <map name="mapaBrasil">
        <area alt="Amapa" shape="poly" href="\amapa" coords="181,31,200,28,211,12,215,20,224,37,208,61,188,36" title="clique para os dados do estado AP">
        <area alt="Roraima" shape="poly" href="\roraima" coords="91,15,114,11,127,1,135,12,130,29,143,39,140,47,130,47,126,54,115,55,114,61,109,56,108,47,107,33,94,24" title="clique para os dados do estado RR">
        <area alt="AC" shape="poly" href="\AC" coords="3,120,65,143,51,154,35,155,30,141,22,145,3,123" title="clique para os dados do estado AC">
        <area alt="PA" shape="poly" href="\PA" coords="145,39,179,28,205,62,215,58,228,37,247,61,262,65,218,142,161,140,149,121,166,76,143,44" title="clique para os dados do estado PA">
        <area alt="TO" shape="poly" href="\TO" coords="239,102,248,104,249,126,257,130,252,143,262,152,258,173,239,177,217,170,220,146" title="clique para os dados do estado TO">
        <area alt="RO" shape="poly" href="\RO" coords="79,140,101,124,116,135,117,155,131,157,124,178,84,162,80,144" title="clique para os dados do estado RO">
        <area alt="MA" shape="poly" href="\MA" coords="240,101,251,88,265,66,276,75,297,80,289,95,286,117,271,119,264,133,263,149,254,142,257,130,245,102" title="clique para os dados do estado MA">
        <area alt="PI" shape="poly" href="\PI" coords="264,150,263,133,275,118,286,118,291,95,307,81,313,122,306,136,290,144,280,153,267,153" title="clique para os dados do estado PI">
        <area alt="CE" shape="poly" href="\CE" coords="310,82,340,100,331,114,330,126,313,123,308,87" title="clique para os dados do estado CE">
        <area alt="RN" shape="poly" href="\RN" coords="341,102,360,106,362,118,333,115,339,106" title="clique para os dados do estado RN">
        <area alt="PB" shape="poly" href="\PB" coords="332,118,361,120,365,127,347,132,340,127,331,130,331,119" title="clique para os dados do estado PB">
        <area alt="PE" shape="poly" href="\PE" coords="312,126,341,132,362,130,359,142,333,143,319,138,310,143,308,137,311,129" title="clique para os dados do estado PE">
        <area alt="AL" shape="poly" href="\AL" coords="335,143,341,142,349,146,359,145,351,154,346,154,336,148" title="clique para os dados do estado AL">
        <area alt="SE" shape="poly" href="\SE" coords="337,151,349,155,339,167,332,161,336,150" title="clique para os dados do estado SE">
        <area alt="BA" shape="poly" href="\BA" coords="264,151,275,157,305,139,311,144,324,138,333,144,333,160,337,168,326,177,315,228,306,223,314,209,276,188,259,195,260,156" title="clique para os dados do estado BA">
        <area alt="MT" shape="poly" href="\MT" coords="117,134,144,135,149,128,160,141,219,147,214,168,211,190,193,212,177,215,163,209,152,218,144,202,130,200,126,179,135,157,119,154,116,134" title="clique para os dados do estado MT">
        <area alt="AM" shape="poly" href="\AM" coords="5,117,25,88,37,90,38,34,62,32,63,39,77,42,98,29,106,35,115,64,139,50,165,77,143,132,68,141,8,118" title="clique para os dados do estado AM">
        <area alt="DF" shape="poly" href="\DF" coords="236,199,244,198,244,203,236,205" title="clique para os dados do estado DF">
        <area alt="MS" shape="poly" href="\MS" coords="155,220,163,212,182,219,188,214,192,221,211,234,210,243,183,273,173,275,170,260,151,258,149,233" title="clique para os dados do estado MS">
        <area alt="GO" shape="poly" href="\GO" coords="219,170,235,178,256,177,257,193,234,198,234,206,246,210,242,226,213,231,192,218,213,194,216,180" title="clique para os dados do estado GO">
        <area alt="MG" shape="poly" href="\MG" coords="213,235,241,226,251,195,261,197,276,190,312,210,290,254,258,268,251,266,243,241,215,234" title="clique para os dados do estado MG">
        <area alt="ES" shape="poly" href="\ES" coords="307,225,312,232,299,257,294,251,302,236" title="clique para os dados do estado ES">
        <area alt="RJ" shape="poly" href="\RJ" coords="291,255,296,260,289,272,267,270,287,260" title="clique para os dados do estado RJ">
        <area alt="SP" shape="poly" href="\SP" coords="197,261,214,239,229,244,241,242,250,268,268,268,234,287,215,267" title="clique para os dados do estado SP">
        <area alt="PR" shape="poly" href="\PR" coords="294,265,215,270,232,290,228,296,207,300,189,298,182,279" title="clique para os dados do estado PR">
        <area alt="SC" shape="poly" href="\SC" coords="187,299,207,302,226,297,224,324,187,304" title="clique para os dados do estado SC">
        <area alt="RS" shape="poly" href="\RS" coords="219,327,189,363,183,350,157,333,185,307,193,307,215,320" title="clique para os dados do estado RS">
    </map>
    <img class="my-5"  src="../static/images/brasil/brasil3.png" alt="Gráfico" title="Total de Casos por Estado">
    <img class="my-5"  src="../static/images/brasil/brasil4.png" alt="Gráfico" title="Total de Óbitos por Estado">

    <div>
        {{ df.groupby(['estado']).max().to_html(classes=('table table-success table-striped')) | safe }}
    </div>

    <a href="#topo" id="#fim" class="text-white">Topo</a>

</body>
</html>